*{
    font-family: "Outfit", sans-serif;
}
body{
    margin: 0%;
}
.header{
    width: 100%;
    background-color: #e38282;
    display: flex;
}
.w-img{
    width: 90px;
    height: 24px;
}
.navbar-expand-lg{
    justify-content: end;
    background-color: #e38282;
}
.navbar>.container-fluid{
display: flex;
justify-content: end;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #e38282;
}
.nav-bar div{
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    margin: 0%;
    padding: 10px;
}
.nav-bar div button{
    display: flex;
    margin: 0%;
    padding: 0%;
    border-style: none;
    list-style: none;
    text-decoration: none;
    background-color: transparent;
}
.nav-bar div button a h1{
color: #fc0606;;
    margin: 0%;
    padding: 0%;
    border-width: 0px
    
}
.nav-bar div button a{
    display: flex;
    margin: 0%;
    padding: 0%;
    border: 0%;
    list-style: none;
    text-decoration: none;
}
.navbr{
    width: 100%;
    display: flex ;
    justify-content: end;
    align-items: center;
}
.navbr li{
    list-style: none;
    margin: 5px;
    
}
.navbr li a{
    text-decoration: none;
    color: black;
}
.tittle{
    margin: 5px;
    color: #fc0606;
    padding: color black;
}
.enbreves h2{
    font-size:18px ;
    display: flex;
    justify-content: center;
}
.tittle-2{
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.d-block{
    display: flex;
    flex-wrap: wrap;
}
.pie_de_foto{
    background-color: #8d8888;
    font-size: 1rem;
}
.contenedor_img{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:1fr;
    width: 350px;
   grid-area: auto;
}
.contenedor_img img{
    background-color: #8f8484;
    width: 100%;
    border-radius:10px; ;
}
.aprende h3{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fc0606;
}
.footer{
    background-color: #616161;
    display:flex; 
    width: 100%;
    justify-content: center;
}
.footer div{
    display: flex;
}
.tel{
text-decoration: none;
list-style: none;
}
.footer div a{
    display: flex;
    width: 50px;
    height: 50px;
    margin: 20px;
    background-color: #616161;
    justify-content: center;
}

.dumpold{
    justify-content: center;
    display: flex;
    list-style: none;   
}
.golrojo{
    display: flex;
    width: ;
height: 200px;
margin: 25px;
}
.golverde{
    display: flex;
    height: 200px;
    margin: 25px;
}
.chev{
    display: flex;
    height: 200px;
    margin: 25px;
}
.peu{
    display: flex;
    height: 200px;
    margin: 25px;
}
.videos{
    display: flex;
    list-style: none;
    justify-content: center;
}
.video1{
    display: flex;
height: 300px;
margin: 50px;
}
.video2{
    display: flex;
    height: 300px;
    margin: 50px;
}
.historia{
    display: flex;
    margin: 20px;
}